.RightColumn {
  z-index: 1;
  width: 250px;
  background-color: #61748e;
  position: absolute;
  height:100vh;
  right: 0;
  box-shadow: -5px 0 15px white;
}
.LeftColumn {
  z-index: 1;
  width: 250px;
  background-color: #61748e;
  position: absolute;
  height: 100vh;
  left: 0;
  box-shadow: 5px 0 15px white;
}
.GameSelectionMenu{
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}