.BattleMap {
  text-align: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100vh;
  z-index: 0;
}

.RightColumn {
  z-index: 1;
  width: 250px;
  background-color: #61748e;
  position: absolute;
  height: 100vh;
  right: 0;
  box-shadow: -5px 0 15px white;
}
.RightColumn>div{
  display: flex;
  flex-direction: column;
  gap:2rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.LeftColumn {
  z-index: 1;
  width: 250px;
  background-color: #61748e;
  position: absolute;
  height: 100vh;
  left: 0;
  box-shadow: 5px 0 15px white;
}
