.MainMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: url("../../Assets/background/Cartoon_Medieval_Training\ Arena_Level_Set_Background\ -\ Layer\ 00.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.MainMenu > div > img {
  width: 10rem;
}
.MainMenu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
