.AttackMenu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: aliceblue;
  background:linear-gradient(rgb(62, 60, 71),rgb(47, 51, 48) 70%,rgb(35, 40, 42));/**/
  position: absolute;
  z-index: 3;
  padding: 3rem;
}

.AttackMenu>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:5rem
}
