.MainMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: black;
}
.MainMenu > div > img {
  width: 20rem;
}
.MainMenu > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
