.Hex {
  background:radial-gradient(burlywood,rgb(230, 161, 71));
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%,100% 75%,100% 25%,50% 0%);
  position: absolute;
}

.Hex:hover,.Hex:active{
  background:radial-gradient(burlywood,rgb(236, 236, 3));
}
