.Rules{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    font-size: 2rem;
    background-color: black;
}
.Rules>span{
    background-color: #7db3ff;
    padding:2rem 2rem;
    font-family: "Bellefair";
    border-radius: 1rem;
}