.BattleMap {
  text-align: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100vh;
  z-index: 0;
}

.RightButtonsCont{
  display: flex;
  flex-direction: column;
  gap:2rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

