.RightColumn {
  z-index: 1;
  width: 250px;
  background-color: #61748e;
  position: absolute;
  height:100vh;
  right: 0;
  box-shadow: -5px 0 15px white;
}
.LeftColumn {
  z-index: 1;
  width: 250px;
  background-color: #61748e;
  position: absolute;
  height: 100vh;
  left: 0;
  box-shadow: 5px 0 15px white;
}
.Rules{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    font-size: 2rem;
    background-color: black;
}
.Rules>span{
    background-color: #7db3ff;
    padding:2rem 2rem;
    font-family: "Bellefair";
    border-radius: 1rem;
}